@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="row">
    <div class="col-sm-12 text-center">
        <img style="height:200px;width:auto;" class="img-fluid" src="~/Content/images/MDCtrasparente.png" alt="M.D.C." />
    </div>
</div>
