@{
    ViewBag.Title = "Home Page";
}
<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="jumbotron">
    <button onclick="StartProcess()" type="button" class="btn btn-primary btn-success">Start the process</button>
</div>
-->

<script>
    //CALLING METHOD IN THE CONTROLLER TO DO SOME WORK
    function StartProcess() {

        $.getJSON("/Home/LongRunningProcess",
        {},
        function (data) {
            if (!data) {
                alert("Success");
            }
            else {
                alert(data);
            }
        });
    }
</script>


<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-7">
        <div class="text-center">
            <h2>Benvenuti</h2>
            <p>
                Software amministrativo di MDC per la gestione di soci e pratiche.
            </p>
            @*@if (Request.IsAuthenticated)
            {
                <a href='#'>
                    <img alt="MCM" src='@Url.Content("~/Content/images/MDCtrasparente.png")' style="width: 100%;" />
                </a>
            }
            else
            {
                <a href='@Url.Action("Login", "Account", routeValues: null)'>
                    <img alt="MCM" src='@Url.Content("~/Content/images/MDCtrasparente.png")' class="img-fluid rounded border" />
                </a>
            }*@
        </div>
        @if (!Request.IsAuthenticated)
        {
            <div class="text-center mt-3">
                @Html.ActionLink("Esegui il Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-lg btn-block btn-outline-primary" })
            </div>
        }

        @*<div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
    </div>
</div>

